.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 40px;

  transform: translateX(-50%);
  transform-origin: center;

  z-index: 2;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  cursor: default;
  user-select: none;

  animation: pulse 3.4s ease-in-out infinite;
}

.scroll-indicator svg {
  font-size: 1.4rem;
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.12);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}


.scroll-indicator {
  transition:
    opacity .35s ease,
    transform .35s ease;
}

.scroll-indicator.hidden {
  opacity: 0;
  pointer-events: none;

  transform: translateX(-50%) translateY(10px);
}